.wishlist-container {
  row-gap: 50px;
  .wishlist-item {
    padding-left: 50px;
    h6 {
      font-size: 15px;
      margin-bottom: 5px;
    }
    .star-rating {
      margin-top: 5px;
    }
    .remove-item {
      top: 0;
      left: 10px;
    }
    .th-btn {
      font-size: 13px;
      padding: 10px;
      border-radius: 4px;
    }
  }
}
